build/
server
client
*.o
*.log
test/test
test/sender
test/receiver
test/close_server
test/gen_graph_seq
test/gen_graph_win
test/test_client
test/test_server
test/test_rdt_client
test/test_rdt_server
test/test_close_client
test/test_congestion
test/recv.txt
test/rdt_recv_file.txt
